{% if geocoding_data is empty %}
    <div  class="test">
        <p style="color:blue;">asela ddddd</p>>
            </div>

            <h1 id="t" class="test">This is a remove iiid dadsd d remove</h1>
            <script src="{{ plugin_path("GoogleMapsWidget") }}/js/dist/jquery-3.3.1.js"></script>
{% endif %}
