{% if geocoding_data is empty %}
    <div  style="background-color: red;" class="test">
        <p style="color:blue;">asela tes gggg</p>>
            </div>
            <link rel="stylesheet" href="{{ plugin_path('GoogleMapsWidget') }}/js/dist/maps.css">
{% endif %}
